header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    padding: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h1 {
        font-weight: normal;
    }

    nav {
        margin-left: auto;
        display: flex;
        gap: 25px;

        .link {
            color: black;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            padding: 5px 10px;
        }
        :hover{
            text-decoration: underline;
        }
    }
}