* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;

    h1 {
        padding-left: 20px;
    }
}

img {
    height: 200px;
    width: 150px;
    margin-left: 3%;
}

.movie {
    font-size: 20px;
    margin-left: 1%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    width: 20px auto;
    margin-left: 3%;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 20px;
    height: 27px;

    p {
        margin: 5px;
    }

    button {
        width: 55px;
    }
}

.image,
.movie {
    vertical-align: middle;
    display: inline;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}