* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;

    h1 {
        padding-left: 20px;
    }
}

img {
    height: 200px;
    width: 150px;
    margin-left: 3%;
}

.movie {
    font-size: 20px;
    margin-left: 1%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    width: 20px auto;
    margin-left: 4%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 20px;

    button {
        width: 55px;
    }
}

.image,
.movie {
    vertical-align: middle;
    display: inline;
}