.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    margin: 40px;

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            color: red;
            font-size: 15px;
        }
    }


    button {
        width: 80px;
    }
}